body {
    background-color: #f2f2f1;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

section, article {
    margin-bottom: 40px;
}

h1 {
    color: #33a12d;
    font-size: 32px;
    margin-bottom: 5px;
}

h2 {
    color: #3ebe33;
    font-size: 26px;
    border-bottom: 2px solid #d4e2d4;
    padding-bottom: 10px;
}

h3 {
    color: #000000;
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.galeria img {
    margin-bottom: 15px;
}

.boton {
    display: inline-block;
    background-color: #43823d;
    color: #ffffff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Efecto al pasar el mouse por encima (hover) */
.boton:hover {
    background-color: #2b5329; /* Se oscurece al pasar el cursor */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

td {
    padding: 12px;
    border-bottom: 1px solid #d4e2d4;
}